.myphoto1{
	width:75%;
}

.myphoto2{
	width:75%;
}

body{
	background-color: seagreen;
}
.background-photo{
	background-image: url(../img/imagename.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

div{
	margin-bottom: 40px;
}